<ul className="pc">
    
</ul>

<ul className={`mobile ${openMenu?'open':''}`}>
<div id="box-search-mobile">
    <input type="text" /><i className='bx bx-search-alt text-white text-2xl ml-1 cursor-pointer'></i>
</div>
<li><a href="#">หน้าแรก</a></li>
<li><a href="#">สินค้า<i className='bx bx-chevron-down' ></i></a>
    <ul className="dropdown">
    <li><a href="#">อาวุธมีคม<i className='bx bx-chevron-down' ></i></a>
        <ul className="dropdown second">
        <li>
            <a href="#">ระยะสั้น<i className='bx bx-chevron-down' ></i></a>
            <ul className="dropdown second">
            <li><a href="#">มีด</a></li>
            <li><a href="#">ดาบ</a></li>
            <li><a href="#">กระบี่</a></li>
            <i className="arrow"><i></i></i>
            </ul>
        </li>
        <li>
            <a href="#">ระยะยาว<i className='bx bx-chevron-down' ></i></a>
            <ul className="dropdown second">
            <li><a href="#">หอก</a></li>
            <li><a href="#">ทวน</a></li>
            <li><a href="#">ง้าว</a></li>
            <i className="arrow"><i></i></i>
            </ul>
        </li>
        <i className="arrow"><i></i></i>
        </ul>
    </li>
    <li><a href="#">อาวุธปืน<i className='bx bx-chevron-down' ></i></a>
        <ul className="dropdown second">
        <li><a href="#">ปืนสั้น</a></li>
        <li><a href="#">ปืนยาว</a></li>
        <i className="arrow"><i></i></i>
        </ul>
    </li>
    <li><a href="#">อาวุธระเบิด<i className='bx bx-chevron-down' ></i></a>
        <ul className="dropdown second">
        <li><a href="#">กับระเบิด</a></li>
        <li>
            <a href="#">ระเบิดมือ<i className='bx bx-chevron-down' ></i></a>
            <ul className="dropdown second">
            <li><a href="">มือหนึ่ง</a></li>
            <li><a href="">มือสอง</a></li>
            <i className="arrow"><i></i></i>
            </ul>
        </li>
        <li><a href="#">เครื่องยิงจรวด</a></li>
        <i className="arrow"><i></i></i>
        </ul>
    </li>
    <i className="arrow"><i></i></i>
    </ul>
</li>
<li><a href="#">บริการ<i className='bx bx-chevron-down' ></i></a>
    <ul className="dropdown">
    <li><a href="#">รับเดินจงกรม</a></li>
    <li><a href="#">รับผลิต<i className='bx bx-chevron-down' ></i></a>
        <ul className="dropdown second">
        <li><a href="#">สมุนไพร</a></li>
        <li><a href="#">เคมี</a></li>
        <i className="arrow"><i></i></i>
        </ul>
    </li>
    <i className="arrow"><i></i></i>
    </ul>
</li>
<li><a href="#">Contact</a></li>
<li><a href="#">About</a></li>
</ul>